.results{
    background-color: f1f2f8;
}

.adv {
    border: 1px solid (#56a498);
    color: #56a498;
    padding-left: 10px;
    padding-right: 10px    
}

.btn {
    
}

.results-items{
    box-shadow: 0 1px 3px 0 rgba(37, 35, 31, .3);
    overflow: hidden;
}

.results-items >.col,
.results-items >.col-lg-8{
    padding: 0;
}

.results-items .card{
    position: relative;
    z-index: 0;
}

.hr{
    
}

.duration hr{
    
}
